.list_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.bg-container {
  background-image: linear-gradient(to right, #f8a908, #0af7f7);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-heading {
  font-family: "roboto";
  font-size: 50px;
  font-weight: bold;
  color: black;
  text-decoration: underline;
}

.search-bar {
  height: 30px;
  width: 300px;
  border-radius: 4px;
  border: none;
  text-align: center;
}

.features-container {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.genre-container {
  width: 400px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
}

.label-text {
  font-family: "roboto";
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  margin: 6px;
}

.select-option {
  width: 200px;
  height: 30px;
  background-color: lightcyan;
}

.search-title {
  font-family: "roboto";
  font-size: 25px;
  color: black;
  font-weight: bold;
  text-decoration: underline;
  margin: 6px;
}
